@using CMSCore.Application.ViewModels.System
@model PageAppUserViewModel
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách tài khoản</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <form action="/Admin/User/Filter" id="frmFilter" class="form-inline">
            @Html.Hidden("CurrentPage", Model.PagedResult.CurrentPage)
            @Html.Hidden("PageSize", Model.PagedResult.PageSize)
            <div class="row form-inline">
                <label class="col-md-2 col-sm-3 col-xs-12  margin-bottom-10" for="Keyword">
                    Tên tài khoản:
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" id="Keyword" name="Keyword" class="form-control  width-per-100" autocomplete="off" />
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-primary pull-left btn-search btn-small"><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="listContent">
            @{Html.RenderPartial("_ListUser", Model.ListAppUserViewModels);}
        </div>
    </div>
    <div class="x_paging">
        @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_CommonPagination.cshtml", Model.PagedResult);}
    </div>
</div>
<div class="x_panel">
    <div id="listRoles">
        @{ Html.RenderPartial("_ListRoles", Model.ListUser.FirstOrDefault()?.ListRoles ?? new List<UserRole>());}
    </div>
</div>