<div class="row fixed-table-pagination">
    <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 width-auto">
                <ul class="pagination" id="paginationUL">
                  
                </ul>
            </div>
            <label class="control-label col-md-2 col-sm-6 col-xs-6 width-auto">
                Số dòng
            </label>
            <div class="col-md-3 col-sm-6 col-xs-6 width-auto" style="line-height: 30px;">
                <select class="form-control page-size">
                    <option value="10" selected="selected">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 text-right show-result-number">
        <div class="pagination">
            <span class="pagination-info">Tổng số bản ghi: <strong id="lblTotalRecords"></strong></span>
        </div>
    </div>
</div>