@using CMSCore.Data.Entities
@using CMSCore.Extensions
@using Microsoft.AspNetCore.Identity
@using CMSCore.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<li class="">
    <a href="javascript:void(0);" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="@User.GetSpecificClaim("Avatar")" alt="">@User.GetSpecificClaim("FullName")
        <i class=" fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="/Account/ChangePassword" title="Đổi mật khẩu"><i class="fa fa-key pull-right"></i> Đổi mật khẩu</a></li>
        <li>
            @*<form action="/Admin/Account/Logout" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </form>*@
        <a href="/Admin/Account/Logout" title="Đăng xuất"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
        </li>
    </ul>
</li>